#page-wrapper {
  background-color: #f8f8f8;
  margin: 16px;
}
.navbar-default .sidebar {
  border-right: 1px solid rgb(231, 231, 231);
}
nav {
  color: white;
}
#data:hover {
  background-color: lightgrey;
}
*[data-href] {
  cursor: pointer;
}
th#version {
  text-align: center;
}
.text-muted {
  color: #E0E0E0;
}